h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 25px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

input[type="submit"]:hover {
    background-color: #5efd49;
}

input[type="submit"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(188, 203, 206);
    font-size: 15px;
    border: solid;
    border-color: black;
}

input[type="number"] {
    background-color: rgba(57, 214, 78, 0.979);
    text-align: center;
    border-style: solid;
    border-color: rgb(7, 7, 5);
    width: 300px;
    height: 25px;
}

.Confirmar {
    text-align: center;
    padding-top: 35px;
    padding-right: 12px;
}

.Horas {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.Valor {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.mensaje {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    color: rgb(0, 0, 0)
}